Django==5.1
django-cors-headers~=4.4.0
fastapi~=0.112.2
PyJWT~=2.7.0
langchain-text-splitters~=0.3.11
openai~=2.6.0
pinecone~=7.3.0
python-dotenv~=1.0.1
pytesseract~=0.3.13
python-docx~=1.2.0
PyPDF2~=3.0.1
pillow~=11.3.0
datasets~=4.1.1
pytest~=8.4.2
torch~=2.6.0
torchvision~=0.21.0
torchaudio~=2.6.0
sentence-transformers~=5.1.1
py-gutenberg~=1.0.3
pathlib~=1.0.1
transformers~=4.57.0
imageio-ffmpeg~=0.6.0
opencv-python~=4.12.0.88
requests~=2.32.5
langchain~=0.3.27
langchain-core~=0.3.78
langchain-openai~=0.3.35
pdf2image~=1.17.0
docx2pdf~=0.1.8
numpy~=2.2.6
scikit-learn~=1.7.2
fitz~=0.0.1.dev2